In [1]:
import pandas as pd

In [2]:
# Creating Data Frame using Dictionary
List_dictionary = [
    {"Col 1":1, "Col 2":2, "Col 3": 3},
    {"Col 1":4, "Col 2":5, "Col 3": 6},
    {"Col 1":7, "Col 2":8, "Col 3": 9}
]

df = pd.DataFrame(List_dictionary)

In [3]:
df

   Col 1  Col 2  Col 3
0      1      2      3
1      4      5      6
2      7      8      9

In [4]:
# Creating Data Frame using Dictionary
dictionary = {"Col 1":[1, 4, 7], "Col 2":[2, 5, 8], "Col 3": [3, 6, 9]}

df = pd.DataFrame(dictionary)

In [5]:
df

   Col 1  Col 2  Col 3
0      1      2      3
1      4      5      6
2      7      8      9

In [6]:
# Creating Data Frame using pandas and csv file
df = pd.read_csv("./weather_data.csv")

In [7]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
# Row and Columns of Data Frame
row, col = df.shape

In [9]:
col

4

In [10]:
row

6

In [11]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [12]:
# View a small chunk of Data Frame
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [13]:
# View a small chunk of Data Frame
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [14]:
# View a small chunk of last Data Frame
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [15]:
# View a small chunk of last Data Frame
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [16]:
#Slicing-------
df[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [17]:
#Slicing-------
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [18]:
#Slicing-------
df[2:-1]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [19]:
#Slicing-------
df[0:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [20]:
#Slicing-------
df[:0]

Empty DataFrame
Columns: [day, temperature, windspeed, event]
Index: []

In [21]:
#Slicing-------
df[-1:]

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [22]:
# Columns
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [23]:
# Day Columns
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [24]:
# Day Columns
df.day.head(2)

0    1/1/2017
1    1/2/2017
Name: day, dtype: object

In [25]:
# Type Pandas Series
type(df.day)

pandas.core.series.Series

In [26]:
# Selesting Multiple Column Field 
df[["day","windspeed","temperature"]].head(2)

        day  windspeed  temperature
0  1/1/2017          6           32
1  1/2/2017          7           35

In [27]:
# Statistics
df["temperature"].mean()

30.333333333333332

In [28]:
# Statistics
df["temperature"].max()

35

In [29]:
# Statistics
df["temperature"].min()

24

In [30]:
# Statistics
df["temperature"].mode()

0    32
Name: temperature, dtype: int64

In [31]:
# Statistics
df["temperature"].std()

3.8297084310253524

In [32]:
# Statistics
df["temperature"].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [33]:
# Statistics
df.describe() # Takes numerical fields only

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [34]:
# Conditioning - Querying over Data Frame

df["temperature"][df["temperature"]>30]

0    32
1    35
4    32
5    31
Name: temperature, dtype: int64

In [35]:
# Conditioning - Querying over Data Frame
df[df["temperature"]>30]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [36]:
# Conditioning and Query
df[df["temperature"]==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [37]:
# Conditioning And Query
# Specific Fields
df   [["day","temperature"]]     [df["temperature"]==df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [38]:
# Index
df.index

RangeIndex(start=0, stop=6, step=1)

In [39]:
#set index
new_df = df.set_index("day") # return new DataFrame 
new_df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [40]:
new_df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [41]:
# Update or Changes the current dataframe 
new_df.set_index("temperature",inplace=True)

In [42]:
new_df

             windspeed  event
temperature
32                   6   Rain
35                   7  Sunny
28                   2   Snow
24                   7   Snow
32                   4   Rain
31                   2  Sunny

In [43]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [44]:
new_df.loc[32] # Achieve from the index(temperature), now we can do indexing or loc to fetch data.

             windspeed event
temperature
32                   6  Rain
32                   4  Rain

In [45]:
new_df.reset_index(inplace=True)

In [46]:
new_df

   temperature  windspeed  event
0           32          6   Rain
1           35          7  Sunny
2           28          2   Snow
3           24          7   Snow
4           32          4   Rain
5           31          2  Sunny

In [47]:
new_df.reset_index(inplace=True)

In [48]:
new_df # Resetted two time to go back to original one

   index  temperature  windspeed  event
0      0           32          6   Rain
1      1           35          7  Sunny
2      2           28          2   Snow
3      3           24          7   Snow
4      4           32          4   Rain
5      5           31          2  Sunny

In [49]:
df_obj = new_df.loc[0]

In [50]:
df_obj

index             0
temperature      32
windspeed         6
event          Rain
Name: 0, dtype: object

In [51]:
df_obj.windspeed

6

In [52]:
df_obj.temperature

32

In [53]:
df_obj.event

'Rain'

In [54]:
new_df.set_index("event",inplace=True)

In [55]:
new_df.loc["Rain"]

       index  temperature  windspeed
event
Rain       0           32          6
Rain       4           32          4